<!-- Modal -->
<div class="modal fade" id="_modal_err_conn" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Connection Error</h5>
                <div class="spinner-border text-white" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="modal-body text-center">
                You have been disconnected from the server. Trying to reconnect.
            </div>
            <div class="modal-footer" style="border-top: none!important">
            </div>
        </div>
    </div>
</div>