@font-face {
    font-family: RBR;
    src: url(/assets/fonts/Roboto_Regular.ttf);
}

@font-face {
    font-family: RBB;
    src: url(/assets/fonts/Roboto_Bold.ttf);
}

@font-face {
    font-family: PSR;
    src: url(/assets/fonts/Product_Sans_Regular.ttf);
}

@font-face {
    font-family: PSB;
    src: url(/assets/fonts/Product_Sans_Bold.ttf);
}

@font-face {
    font-family: AFR;
    src: url(/assets/fonts/Agency_FB_Regular.ttf);
}

@font-face {
    font-family: AFB;
    src: url(/assets/fonts/Agency_FB_Bold.ttf);
}

body {
    background-color: whitesmoke!important;
}

input,
button {
    border-radius: 3px!important;
    font-family: RBR;
}

.cmThpR {
    border-radius: inherit;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.container-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: RBR;
}

@media screen and (min-width:500px) {
    .container-login {
        width: 90%;
    }
}

@media screen and (min-width:577px) {
    .container-login {
        width: 95%;
    }
}

@media screen and (min-width:769px) {
    .container-login {
        width: 95%;
    }
}

.login-title-holder {
    text-align: center;
}

.login-title {
    font-family: AFB;
    font-style: italic;
    letter-spacing: 4px;
    font-size: 1.4rem;
}

#login-icon {
    width: 45%;
    margin-bottom: -2px;
    margin-top: 30px;
}

#login-icon-bg {
    object-fit: fill;
    height: 100%;
    position: absolute;
    left: -250px;
    top: 0;
}

.login-main-box {
    border-radius: 10px!important;
}

.iqPZMe {
    font-size: 14px;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    border: 1px solid #353535;
    color: #353535;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 4px 32px;
    box-sizing: border-box;
    background-color: #353535;
    color: #fff;
    border-color: transparent;
}


/*!sc*/

.iqPZMe>.admin-bro_Icon {
    vertical-align: middle;
}


/*!sc*/

.iqPZMe>.admin-bro_Icon svg {
    margin: 0 8px 0 0;
}


/*!sc*/

.iqPZMe .admin-bro_Icon svg {
    fill: #353535;
}


/*!sc*/

.iqPZMe:hover {
    color: #fff;
    background: #535353;
    border-color: #535353;
}


/*!sc*/

.iqPZMe:hover .admin-bro_Icon svg {
    fill: #fff;
}


/*!sc*/

.iqPZMe:focus {
    background-color: #535353;
}


/*!sc*/

.iqPZMe:disabled {
    color: #898A9A;
    border-color: #454655;
    background: #fff;
    cursor: default;
}


/*!sc*/

.iqPZMe:disabled .admin-bro_Icon svg {
    fill: #898A9A;
}


/*!sc*/

.iqPZMe:hover {
    background-color: #535353;
}


/*!sc*/

.iqPZMe .admin-bro_Icon svg {
    fill: #fff;
}


/*!sc*/

.iqPZMe:disabled {
    background-color: #C0C0CA;
}


/*!sc*/

data-styled.g3[id="sc-gsTCUz"] {
    content: "iqPZMe,"
}


/*!sc*/

.eRvBuY {
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
}


/*!sc*/

.eRvBuY:before {
    content: "*";
    color: #4268F6;
    margin-right: 4px;
    display: block-inline;
}


/*!sc*/

.eRvBuY>.admin-bro_Icon:first-child {
    margin-right: 8px;
}


/*!sc*/

data-styled.g4[id="sc-dlfnbm"] {
    content: "eRvBuY,"
}


/*!sc*/

.RiUqm {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    font-weight: 200;
    margin-top: 8px;
}


/*!sc*/

.RiUqm div:not([class*="admin-bro_"]),
.RiUqm span:not([class*="admin-bro_"]),
.RiUqm applet:not([class*="admin-bro_"]),
.RiUqm object:not([class*="admin-bro_"]),
.RiUqm iframe:not([class*="admin-bro_"]),
.RiUqm h1:not([class*="admin-bro_"]),
.RiUqm h2:not([class*="admin-bro_"]),
.RiUqm h3:not([class*="admin-bro_"]),
.RiUqm h4:not([class*="admin-bro_"]),
.RiUqm h5:not([class*="admin-bro_"]),
.RiUqm h6:not([class*="admin-bro_"]),
.RiUqm p:not([class*="admin-bro_"]),
.RiUqm blockquote:not([class*="admin-bro_"]),
.RiUqm pre:not([class*="admin-bro_"]),
.RiUqm a:not([class*="admin-bro_"]),
.RiUqm abbr:not([class*="admin-bro_"]),
.RiUqm acronym:not([class*="admin-bro_"]),
.RiUqm address:not([class*="admin-bro_"]),
.RiUqm big:not([class*="admin-bro_"]),
.RiUqm cite:not([class*="admin-bro_"]),
.RiUqm code:not([class*="admin-bro_"]),
.RiUqm del:not([class*="admin-bro_"]),
.RiUqm dfn:not([class*="admin-bro_"]),
.RiUqm em:not([class*="admin-bro_"]),
.RiUqm img:not([class*="admin-bro_"]),
.RiUqm ins:not([class*="admin-bro_"]),
.RiUqm kbd:not([class*="admin-bro_"]),
.RiUqm q:not([class*="admin-bro_"]),
.RiUqm s:not([class*="admin-bro_"]),
.RiUqm samp:not([class*="admin-bro_"]),
.RiUqm small:not([class*="admin-bro_"]),
.RiUqm strike:not([class*="admin-bro_"]),
.RiUqm strong:not([class*="admin-bro_"]),
.RiUqm sub:not([class*="admin-bro_"]),
.RiUqm sup:not([class*="admin-bro_"]),
.RiUqm tt:not([class*="admin-bro_"]),
.RiUqm var:not([class*="admin-bro_"]),
.RiUqm b:not([class*="admin-bro_"]),
.RiUqm u:not([class*="admin-bro_"]),
.RiUqm i:not([class*="admin-bro_"]),
.RiUqm center:not([class*="admin-bro_"]),
.RiUqm dl:not([class*="admin-bro_"]),
.RiUqm dt:not([class*="admin-bro_"]),
.RiUqm dd:not([class*="admin-bro_"]),
.RiUqm ol:not([class*="admin-bro_"]),
.RiUqm ul:not([class*="admin-bro_"]),
.RiUqm li:not([class*="admin-bro_"]),
.RiUqm fieldset:not([class*="admin-bro_"]),
.RiUqm form:not([class*="admin-bro_"]),
.RiUqm label:not([class*="admin-bro_"]),
.RiUqm legend:not([class*="admin-bro_"]),
.RiUqm table:not([class*="admin-bro_"]),
.RiUqm caption:not([class*="admin-bro_"]),
.RiUqm tbody:not([class*="admin-bro_"]),
.RiUqm tfoot:not([class*="admin-bro_"]),
.RiUqm thead:not([class*="admin-bro_"]),
.RiUqm tr:not([class*="admin-bro_"]),
.RiUqm th:not([class*="admin-bro_"]),
.RiUqm td:not([class*="admin-bro_"]),
.RiUqm article:not([class*="admin-bro_"]),
.RiUqm aside:not([class*="admin-bro_"]),
.RiUqm canvas:not([class*="admin-bro_"]),
.RiUqm details:not([class*="admin-bro_"]),
.RiUqm embed:not([class*="admin-bro_"]),
.RiUqm figure:not([class*="admin-bro_"]),
.RiUqm figcaption:not([class*="admin-bro_"]),
.RiUqm footer:not([class*="admin-bro_"]),
.RiUqm header:not([class*="admin-bro_"]),
.RiUqm hgroup:not([class*="admin-bro_"]),
.RiUqm main:not([class*="admin-bro_"]),
.RiUqm menu:not([class*="admin-bro_"]),
.RiUqm nav:not([class*="admin-bro_"]),
.RiUqm output:not([class*="admin-bro_"]),
.RiUqm ruby:not([class*="admin-bro_"]),
.RiUqm section:not([class*="admin-bro_"]),
.RiUqm summary:not([class*="admin-bro_"]),
.RiUqm time:not([class*="admin-bro_"]),
.RiUqm mark:not([class*="admin-bro_"]),
.RiUqm audio:not([class*="admin-bro_"]),
.RiUqm video:not([class*="admin-bro_"]) {
    margin: 0;
    padding: 0;
}


/*!sc*/

.RiUqm img {
    max-width: 100%;
}


/*!sc*/

.RiUqm p,
.RiUqm div {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 300;
}


/*!sc*/

.RiUqm strong,
.RiUqm b {
    font-weight: 900;
}


/*!sc*/

.RiUqm li+li {
    margin-top: 8px;
}


/*!sc*/

.RiUqm p:not(:last-child),
.RiUqm dl:not(:last-child),
.RiUqm ol:not(:last-child),
.RiUqm ul:not(:last-child),
.RiUqm blockquote:not(:last-child),
.RiUqm pre:not(:last-child),
.RiUqm table:not(:last-child) {
    margin-bottom: 24px;
}


/*!sc*/

.RiUqm pre {
    background-color: #F6F7FB;
    border: 1px solid #C0C0CA;
    padding: 24px;
    margin: 24px 0 32px;
    white-space: pre;
}


/*!sc*/

.RiUqm h1,
.RiUqm h2,
.RiUqm h3,
.RiUqm h4,
.RiUqm h5,
.RiUqm h6 {
    font-weight: 300;
    line-height: 32px;
    font-size: 28px;
    margin-top: 32px;
    margin-bottom: 24px;
}


/*!sc*/

.RiUqm h1:first-child,
.RiUqm h2:first-child,
.RiUqm h3:first-child,
.RiUqm h4:first-child,
.RiUqm h5:first-child,
.RiUqm h6:first-child {
    margin-top: 4px;
}


/*!sc*/

.RiUqm h1 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 64px;
    margin-bottom: 48px;
}


/*!sc*/

.RiUqm h2 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 48px;
    margin-bottom: 32px;
}


/*!sc*/

.RiUqm h4 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 24px;
}


/*!sc*/

.RiUqm h5 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 400;
}


/*!sc*/

.RiUqm h6 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 400;
}


/*!sc*/

.RiUqm blockquote {
    background-color: #F6F7FB;
    border-left: 4px solid #CBD5FD;
    padding: 24px;
    margin: 32px 0;
}


/*!sc*/

.RiUqm ol {
    list-style-position: outside;
    margin-top: 16px;
    margin-left: 24px;
}


/*!sc*/

.RiUqm ol:not([type]) {
    list-style-type: decimal;
}


/*!sc*/

.RiUqm ol:not([type]).is-lower-alpha {
    list-style-type: lower-alpha;
}


/*!sc*/

.RiUqm ol:not([type]).is-lower-roman {
    list-style-type: lower-roman;
}


/*!sc*/

.RiUqm ol:not([type]).is-upper-alpha {
    list-style-type: upper-alpha;
}


/*!sc*/

.RiUqm ol:not([type]).is-upper-roman {
    list-style-type: upper-roman;
}


/*!sc*/

.RiUqm ul {
    list-style: disc outside;
    margin-left: 24px;
    margin-top: 16px;
}


/*!sc*/

.RiUqm ul ul {
    list-style-type: circle;
    margin-top: 4px;
}


/*!sc*/

.RiUqm ul ul ul {
    list-style-type: square;
}


/*!sc*/

.RiUqm em {
    font-style: italic;
}


/*!sc*/

.RiUqm dd {
    margin-left: 24px;
}


/*!sc*/

.RiUqm figure {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}


/*!sc*/

.RiUqm figure:not(:first-child) {
    margin-top: 8px;
}


/*!sc*/

.RiUqm figure:not(:last-child) {
    margin-bottom: 8px;
}


/*!sc*/

.RiUqm figure img {
    display: inline-block;
}


/*!sc*/

.RiUqm figure figcaption {
    font-style: italic;
}


/*!sc*/

.RiUqm sup,
.RiUqm sub {
    font-size: 75%;
}


/*!sc*/

.RiUqm table {
    width: 100%;
    margin: 24px 0;
}


/*!sc*/

.RiUqm table td,
.RiUqm table th {
    padding: 16px;
    vertical-align: top;
}


/*!sc*/

.RiUqm table th {
    color: #898A9A;
    border-bottom: 1px solid #C0C0CA;
}


/*!sc*/

.RiUqm table td {
    border-bottom: 1px solid #F6F7FB;
}


/*!sc*/

.RiUqm table th:not([align]) {
    text-align: inherit;
}


/*!sc*/

.RiUqm table thead td,
.RiUqm table thead th {
    border-bottom: 1px solid #C0C0CA;
    color: #898A9A;
}


/*!sc*/

.RiUqm table tfoot td,
.RiUqm table tfoot th {
    border-bottom: 1px solid #C0C0CA;
    color: #898A9A;
}


/*!sc*/

.RiUqm table tbody tr:last-child td,
.RiUqm table tbody tr:last-child th {
    border-bottom-width: 0;
}


/*!sc*/

.RiUqm .tabs li+li {
    margin-top: 0;
}


/*!sc*/

.bcomTI {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    padding: 32px;
}


/*!sc*/

.bcomTI div:not([class*="admin-bro_"]),
.bcomTI span:not([class*="admin-bro_"]),
.bcomTI applet:not([class*="admin-bro_"]),
.bcomTI object:not([class*="admin-bro_"]),
.bcomTI iframe:not([class*="admin-bro_"]),
.bcomTI h1:not([class*="admin-bro_"]),
.bcomTI h2:not([class*="admin-bro_"]),
.bcomTI h3:not([class*="admin-bro_"]),
.bcomTI h4:not([class*="admin-bro_"]),
.bcomTI h5:not([class*="admin-bro_"]),
.bcomTI h6:not([class*="admin-bro_"]),
.bcomTI p:not([class*="admin-bro_"]),
.bcomTI blockquote:not([class*="admin-bro_"]),
.bcomTI pre:not([class*="admin-bro_"]),
.bcomTI a:not([class*="admin-bro_"]),
.bcomTI abbr:not([class*="admin-bro_"]),
.bcomTI acronym:not([class*="admin-bro_"]),
.bcomTI address:not([class*="admin-bro_"]),
.bcomTI big:not([class*="admin-bro_"]),
.bcomTI cite:not([class*="admin-bro_"]),
.bcomTI code:not([class*="admin-bro_"]),
.bcomTI del:not([class*="admin-bro_"]),
.bcomTI dfn:not([class*="admin-bro_"]),
.bcomTI em:not([class*="admin-bro_"]),
.bcomTI img:not([class*="admin-bro_"]),
.bcomTI ins:not([class*="admin-bro_"]),
.bcomTI kbd:not([class*="admin-bro_"]),
.bcomTI q:not([class*="admin-bro_"]),
.bcomTI s:not([class*="admin-bro_"]),
.bcomTI samp:not([class*="admin-bro_"]),
.bcomTI small:not([class*="admin-bro_"]),
.bcomTI strike:not([class*="admin-bro_"]),
.bcomTI strong:not([class*="admin-bro_"]),
.bcomTI sub:not([class*="admin-bro_"]),
.bcomTI sup:not([class*="admin-bro_"]),
.bcomTI tt:not([class*="admin-bro_"]),
.bcomTI var:not([class*="admin-bro_"]),
.bcomTI b:not([class*="admin-bro_"]),
.bcomTI u:not([class*="admin-bro_"]),
.bcomTI i:not([class*="admin-bro_"]),
.bcomTI center:not([class*="admin-bro_"]),
.bcomTI dl:not([class*="admin-bro_"]),
.bcomTI dt:not([class*="admin-bro_"]),
.bcomTI dd:not([class*="admin-bro_"]),
.bcomTI ol:not([class*="admin-bro_"]),
.bcomTI ul:not([class*="admin-bro_"]),
.bcomTI li:not([class*="admin-bro_"]),
.bcomTI fieldset:not([class*="admin-bro_"]),
.bcomTI form:not([class*="admin-bro_"]),
.bcomTI label:not([class*="admin-bro_"]),
.bcomTI legend:not([class*="admin-bro_"]),
.bcomTI table:not([class*="admin-bro_"]),
.bcomTI caption:not([class*="admin-bro_"]),
.bcomTI tbody:not([class*="admin-bro_"]),
.bcomTI tfoot:not([class*="admin-bro_"]),
.bcomTI thead:not([class*="admin-bro_"]),
.bcomTI tr:not([class*="admin-bro_"]),
.bcomTI th:not([class*="admin-bro_"]),
.bcomTI td:not([class*="admin-bro_"]),
.bcomTI article:not([class*="admin-bro_"]),
.bcomTI aside:not([class*="admin-bro_"]),
.bcomTI canvas:not([class*="admin-bro_"]),
.bcomTI details:not([class*="admin-bro_"]),
.bcomTI embed:not([class*="admin-bro_"]),
.bcomTI figure:not([class*="admin-bro_"]),
.bcomTI figcaption:not([class*="admin-bro_"]),
.bcomTI footer:not([class*="admin-bro_"]),
.bcomTI header:not([class*="admin-bro_"]),
.bcomTI hgroup:not([class*="admin-bro_"]),
.bcomTI main:not([class*="admin-bro_"]),
.bcomTI menu:not([class*="admin-bro_"]),
.bcomTI nav:not([class*="admin-bro_"]),
.bcomTI output:not([class*="admin-bro_"]),
.bcomTI ruby:not([class*="admin-bro_"]),
.bcomTI section:not([class*="admin-bro_"]),
.bcomTI summary:not([class*="admin-bro_"]),
.bcomTI time:not([class*="admin-bro_"]),
.bcomTI mark:not([class*="admin-bro_"]),
.bcomTI audio:not([class*="admin-bro_"]),
.bcomTI video:not([class*="admin-bro_"]) {
    margin: 0;
    padding: 0;
}


/*!sc*/

.bcomTI img {
    max-width: 100%;
}


/*!sc*/

.bcomTI p,
.bcomTI div {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 300;
}


/*!sc*/

.bcomTI strong,
.bcomTI b {
    font-weight: 900;
}


/*!sc*/

.bcomTI li+li {
    margin-top: 8px;
}


/*!sc*/

.bcomTI p:not(:last-child),
.bcomTI dl:not(:last-child),
.bcomTI ol:not(:last-child),
.bcomTI ul:not(:last-child),
.bcomTI blockquote:not(:last-child),
.bcomTI pre:not(:last-child),
.bcomTI table:not(:last-child) {
    margin-bottom: 24px;
}


/*!sc*/

.bcomTI pre {
    background-color: #F6F7FB;
    border: 1px solid #C0C0CA;
    padding: 24px;
    margin: 24px 0 32px;
    white-space: pre;
}


/*!sc*/

.bcomTI h1,
.bcomTI h2,
.bcomTI h3,
.bcomTI h4,
.bcomTI h5,
.bcomTI h6 {
    font-weight: 300;
    line-height: 32px;
    font-size: 28px;
    margin-top: 32px;
    margin-bottom: 24px;
}


/*!sc*/

.bcomTI h1:first-child,
.bcomTI h2:first-child,
.bcomTI h3:first-child,
.bcomTI h4:first-child,
.bcomTI h5:first-child,
.bcomTI h6:first-child {
    margin-top: 4px;
}


/*!sc*/

.bcomTI h1 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 64px;
    margin-bottom: 48px;
}


/*!sc*/

.bcomTI h2 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 48px;
    margin-bottom: 32px;
}


/*!sc*/

.bcomTI h4 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 24px;
}


/*!sc*/

.bcomTI h5 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 400;
}


/*!sc*/

.bcomTI h6 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 400;
}


/*!sc*/

.bcomTI blockquote {
    background-color: #F6F7FB;
    border-left: 4px solid #CBD5FD;
    padding: 24px;
    margin: 32px 0;
}


/*!sc*/

.bcomTI ol {
    list-style-position: outside;
    margin-top: 16px;
    margin-left: 24px;
}


/*!sc*/

.bcomTI ol:not([type]) {
    list-style-type: decimal;
}


/*!sc*/

.bcomTI ol:not([type]).is-lower-alpha {
    list-style-type: lower-alpha;
}


/*!sc*/

.bcomTI ol:not([type]).is-lower-roman {
    list-style-type: lower-roman;
}


/*!sc*/

.bcomTI ol:not([type]).is-upper-alpha {
    list-style-type: upper-alpha;
}


/*!sc*/

.bcomTI ol:not([type]).is-upper-roman {
    list-style-type: upper-roman;
}


/*!sc*/

.bcomTI ul {
    list-style: disc outside;
    margin-left: 24px;
    margin-top: 16px;
}


/*!sc*/

.bcomTI ul ul {
    list-style-type: circle;
    margin-top: 4px;
}


/*!sc*/

.bcomTI ul ul ul {
    list-style-type: square;
}


/*!sc*/

.bcomTI em {
    font-style: italic;
}


/*!sc*/

.bcomTI dd {
    margin-left: 24px;
}


/*!sc*/

.bcomTI figure {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}


/*!sc*/

.bcomTI figure:not(:first-child) {
    margin-top: 8px;
}


/*!sc*/

.bcomTI figure:not(:last-child) {
    margin-bottom: 8px;
}


/*!sc*/

.bcomTI figure img {
    display: inline-block;
}


/*!sc*/

.bcomTI figure figcaption {
    font-style: italic;
}


/*!sc*/

.bcomTI sup,
.bcomTI sub {
    font-size: 75%;
}


/*!sc*/

.bcomTI table {
    width: 100%;
    margin: 24px 0;
}


/*!sc*/

.bcomTI table td,
.bcomTI table th {
    padding: 16px;
    vertical-align: top;
}


/*!sc*/

.bcomTI table th {
    color: #898A9A;
    border-bottom: 1px solid #C0C0CA;
}


/*!sc*/

.bcomTI table td {
    border-bottom: 1px solid #F6F7FB;
}


/*!sc*/

.bcomTI table th:not([align]) {
    text-align: inherit;
}


/*!sc*/

.bcomTI table thead td,
.bcomTI table thead th {
    border-bottom: 1px solid #C0C0CA;
    color: #898A9A;
}


/*!sc*/

.bcomTI table tfoot td,
.bcomTI table tfoot th {
    border-bottom: 1px solid #C0C0CA;
    color: #898A9A;
}


/*!sc*/

.bcomTI table tbody tr:last-child td,
.bcomTI table tbody tr:last-child th {
    border-bottom-width: 0;
}


/*!sc*/

.bcomTI .tabs li+li {
    margin-top: 0;
}


/*!sc*/

.hBeDrK {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    margin-top: 24px;
}


/*!sc*/

.hBeDrK div:not([class*="admin-bro_"]),
.hBeDrK span:not([class*="admin-bro_"]),
.hBeDrK applet:not([class*="admin-bro_"]),
.hBeDrK object:not([class*="admin-bro_"]),
.hBeDrK iframe:not([class*="admin-bro_"]),
.hBeDrK h1:not([class*="admin-bro_"]),
.hBeDrK h2:not([class*="admin-bro_"]),
.hBeDrK h3:not([class*="admin-bro_"]),
.hBeDrK h4:not([class*="admin-bro_"]),
.hBeDrK h5:not([class*="admin-bro_"]),
.hBeDrK h6:not([class*="admin-bro_"]),
.hBeDrK p:not([class*="admin-bro_"]),
.hBeDrK blockquote:not([class*="admin-bro_"]),
.hBeDrK pre:not([class*="admin-bro_"]),
.hBeDrK a:not([class*="admin-bro_"]),
.hBeDrK abbr:not([class*="admin-bro_"]),
.hBeDrK acronym:not([class*="admin-bro_"]),
.hBeDrK address:not([class*="admin-bro_"]),
.hBeDrK big:not([class*="admin-bro_"]),
.hBeDrK cite:not([class*="admin-bro_"]),
.hBeDrK code:not([class*="admin-bro_"]),
.hBeDrK del:not([class*="admin-bro_"]),
.hBeDrK dfn:not([class*="admin-bro_"]),
.hBeDrK em:not([class*="admin-bro_"]),
.hBeDrK img:not([class*="admin-bro_"]),
.hBeDrK ins:not([class*="admin-bro_"]),
.hBeDrK kbd:not([class*="admin-bro_"]),
.hBeDrK q:not([class*="admin-bro_"]),
.hBeDrK s:not([class*="admin-bro_"]),
.hBeDrK samp:not([class*="admin-bro_"]),
.hBeDrK small:not([class*="admin-bro_"]),
.hBeDrK strike:not([class*="admin-bro_"]),
.hBeDrK strong:not([class*="admin-bro_"]),
.hBeDrK sub:not([class*="admin-bro_"]),
.hBeDrK sup:not([class*="admin-bro_"]),
.hBeDrK tt:not([class*="admin-bro_"]),
.hBeDrK var:not([class*="admin-bro_"]),
.hBeDrK b:not([class*="admin-bro_"]),
.hBeDrK u:not([class*="admin-bro_"]),
.hBeDrK i:not([class*="admin-bro_"]),
.hBeDrK center:not([class*="admin-bro_"]),
.hBeDrK dl:not([class*="admin-bro_"]),
.hBeDrK dt:not([class*="admin-bro_"]),
.hBeDrK dd:not([class*="admin-bro_"]),
.hBeDrK ol:not([class*="admin-bro_"]),
.hBeDrK ul:not([class*="admin-bro_"]),
.hBeDrK li:not([class*="admin-bro_"]),
.hBeDrK fieldset:not([class*="admin-bro_"]),
.hBeDrK form:not([class*="admin-bro_"]),
.hBeDrK label:not([class*="admin-bro_"]),
.hBeDrK legend:not([class*="admin-bro_"]),
.hBeDrK table:not([class*="admin-bro_"]),
.hBeDrK caption:not([class*="admin-bro_"]),
.hBeDrK tbody:not([class*="admin-bro_"]),
.hBeDrK tfoot:not([class*="admin-bro_"]),
.hBeDrK thead:not([class*="admin-bro_"]),
.hBeDrK tr:not([class*="admin-bro_"]),
.hBeDrK th:not([class*="admin-bro_"]),
.hBeDrK td:not([class*="admin-bro_"]),
.hBeDrK article:not([class*="admin-bro_"]),
.hBeDrK aside:not([class*="admin-bro_"]),
.hBeDrK canvas:not([class*="admin-bro_"]),
.hBeDrK details:not([class*="admin-bro_"]),
.hBeDrK embed:not([class*="admin-bro_"]),
.hBeDrK figure:not([class*="admin-bro_"]),
.hBeDrK figcaption:not([class*="admin-bro_"]),
.hBeDrK footer:not([class*="admin-bro_"]),
.hBeDrK header:not([class*="admin-bro_"]),
.hBeDrK hgroup:not([class*="admin-bro_"]),
.hBeDrK main:not([class*="admin-bro_"]),
.hBeDrK menu:not([class*="admin-bro_"]),
.hBeDrK nav:not([class*="admin-bro_"]),
.hBeDrK output:not([class*="admin-bro_"]),
.hBeDrK ruby:not([class*="admin-bro_"]),
.hBeDrK section:not([class*="admin-bro_"]),
.hBeDrK summary:not([class*="admin-bro_"]),
.hBeDrK time:not([class*="admin-bro_"]),
.hBeDrK mark:not([class*="admin-bro_"]),
.hBeDrK audio:not([class*="admin-bro_"]),
.hBeDrK video:not([class*="admin-bro_"]) {
    margin: 0;
    padding: 0;
}


/*!sc*/

.hBeDrK img {
    max-width: 100%;
}


/*!sc*/

.hBeDrK p,
.hBeDrK div {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 300;
}


/*!sc*/

.hBeDrK strong,
.hBeDrK b {
    font-weight: 900;
}


/*!sc*/

.hBeDrK li+li {
    margin-top: 8px;
}


/*!sc*/

.hBeDrK p:not(:last-child),
.hBeDrK dl:not(:last-child),
.hBeDrK ol:not(:last-child),
.hBeDrK ul:not(:last-child),
.hBeDrK blockquote:not(:last-child),
.hBeDrK pre:not(:last-child),
.hBeDrK table:not(:last-child) {
    margin-bottom: 24px;
}


/*!sc*/

.hBeDrK pre {
    background-color: #F6F7FB;
    border: 1px solid #C0C0CA;
    padding: 24px;
    margin: 24px 0 32px;
    white-space: pre;
}


/*!sc*/

.hBeDrK h1,
.hBeDrK h2,
.hBeDrK h3,
.hBeDrK h4,
.hBeDrK h5,
.hBeDrK h6 {
    font-weight: 300;
    line-height: 32px;
    font-size: 28px;
    margin-top: 32px;
    margin-bottom: 24px;
}


/*!sc*/

.hBeDrK h1:first-child,
.hBeDrK h2:first-child,
.hBeDrK h3:first-child,
.hBeDrK h4:first-child,
.hBeDrK h5:first-child,
.hBeDrK h6:first-child {
    margin-top: 4px;
}


/*!sc*/

.hBeDrK h1 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 64px;
    margin-bottom: 48px;
}


/*!sc*/

.hBeDrK h2 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 48px;
    margin-bottom: 32px;
}


/*!sc*/

.hBeDrK h4 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 24px;
}


/*!sc*/

.hBeDrK h5 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 400;
}


/*!sc*/

.hBeDrK h6 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 400;
}


/*!sc*/

.hBeDrK blockquote {
    background-color: #F6F7FB;
    border-left: 4px solid #CBD5FD;
    padding: 24px;
    margin: 32px 0;
}


/*!sc*/

.hBeDrK ol {
    list-style-position: outside;
    margin-top: 16px;
    margin-left: 24px;
}


/*!sc*/

.hBeDrK ol:not([type]) {
    list-style-type: decimal;
}


/*!sc*/

.hBeDrK ol:not([type]).is-lower-alpha {
    list-style-type: lower-alpha;
}


/*!sc*/

.hBeDrK ol:not([type]).is-lower-roman {
    list-style-type: lower-roman;
}


/*!sc*/

.hBeDrK ol:not([type]).is-upper-alpha {
    list-style-type: upper-alpha;
}


/*!sc*/

.hBeDrK ol:not([type]).is-upper-roman {
    list-style-type: upper-roman;
}


/*!sc*/

.hBeDrK ul {
    list-style: disc outside;
    margin-left: 24px;
    margin-top: 16px;
}


/*!sc*/

.hBeDrK ul ul {
    list-style-type: circle;
    margin-top: 4px;
}


/*!sc*/

.hBeDrK ul ul ul {
    list-style-type: square;
}


/*!sc*/

.hBeDrK em {
    font-style: italic;
}


/*!sc*/

.hBeDrK dd {
    margin-left: 24px;
}


/*!sc*/

.hBeDrK figure {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}


/*!sc*/

.hBeDrK figure:not(:first-child) {
    margin-top: 8px;
}


/*!sc*/

.hBeDrK figure:not(:last-child) {
    margin-bottom: 8px;
}


/*!sc*/

.hBeDrK figure img {
    display: inline-block;
}


/*!sc*/

.hBeDrK figure figcaption {
    font-style: italic;
}


/*!sc*/

.hBeDrK sup,
.hBeDrK sub {
    font-size: 75%;
}


/*!sc*/

.hBeDrK table {
    width: 100%;
    margin: 24px 0;
}


/*!sc*/

.hBeDrK table td,
.hBeDrK table th {
    padding: 16px;
    vertical-align: top;
}


/*!sc*/

.hBeDrK table th {
    color: #898A9A;
    border-bottom: 1px solid #C0C0CA;
}


/*!sc*/

.hBeDrK table td {
    border-bottom: 1px solid #F6F7FB;
}


/*!sc*/

.hBeDrK table th:not([align]) {
    text-align: inherit;
}


/*!sc*/

.hBeDrK table thead td,
.hBeDrK table thead th {
    border-bottom: 1px solid #C0C0CA;
    color: #898A9A;
}


/*!sc*/

.hBeDrK table tfoot td,
.hBeDrK table tfoot th {
    border-bottom: 1px solid #C0C0CA;
    color: #898A9A;
}


/*!sc*/

.hBeDrK table tbody tr:last-child td,
.hBeDrK table tbody tr:last-child th {
    border-bottom-width: 0;
}


/*!sc*/

.hBeDrK .tabs li+li {
    margin-top: 0;
}


/*!sc*/

.kiPriW {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    color: #898A9A;
}


/*!sc*/

.kiPriW div:not([class*="admin-bro_"]),
.kiPriW span:not([class*="admin-bro_"]),
.kiPriW applet:not([class*="admin-bro_"]),
.kiPriW object:not([class*="admin-bro_"]),
.kiPriW iframe:not([class*="admin-bro_"]),
.kiPriW h1:not([class*="admin-bro_"]),
.kiPriW h2:not([class*="admin-bro_"]),
.kiPriW h3:not([class*="admin-bro_"]),
.kiPriW h4:not([class*="admin-bro_"]),
.kiPriW h5:not([class*="admin-bro_"]),
.kiPriW h6:not([class*="admin-bro_"]),
.kiPriW p:not([class*="admin-bro_"]),
.kiPriW blockquote:not([class*="admin-bro_"]),
.kiPriW pre:not([class*="admin-bro_"]),
.kiPriW a:not([class*="admin-bro_"]),
.kiPriW abbr:not([class*="admin-bro_"]),
.kiPriW acronym:not([class*="admin-bro_"]),
.kiPriW address:not([class*="admin-bro_"]),
.kiPriW big:not([class*="admin-bro_"]),
.kiPriW cite:not([class*="admin-bro_"]),
.kiPriW code:not([class*="admin-bro_"]),
.kiPriW del:not([class*="admin-bro_"]),
.kiPriW dfn:not([class*="admin-bro_"]),
.kiPriW em:not([class*="admin-bro_"]),
.kiPriW img:not([class*="admin-bro_"]),
.kiPriW ins:not([class*="admin-bro_"]),
.kiPriW kbd:not([class*="admin-bro_"]),
.kiPriW q:not([class*="admin-bro_"]),
.kiPriW s:not([class*="admin-bro_"]),
.kiPriW samp:not([class*="admin-bro_"]),
.kiPriW small:not([class*="admin-bro_"]),
.kiPriW strike:not([class*="admin-bro_"]),
.kiPriW strong:not([class*="admin-bro_"]),
.kiPriW sub:not([class*="admin-bro_"]),
.kiPriW sup:not([class*="admin-bro_"]),
.kiPriW tt:not([class*="admin-bro_"]),
.kiPriW var:not([class*="admin-bro_"]),
.kiPriW b:not([class*="admin-bro_"]),
.kiPriW u:not([class*="admin-bro_"]),
.kiPriW i:not([class*="admin-bro_"]),
.kiPriW center:not([class*="admin-bro_"]),
.kiPriW dl:not([class*="admin-bro_"]),
.kiPriW dt:not([class*="admin-bro_"]),
.kiPriW dd:not([class*="admin-bro_"]),
.kiPriW ol:not([class*="admin-bro_"]),
.kiPriW ul:not([class*="admin-bro_"]),
.kiPriW li:not([class*="admin-bro_"]),
.kiPriW fieldset:not([class*="admin-bro_"]),
.kiPriW form:not([class*="admin-bro_"]),
.kiPriW label:not([class*="admin-bro_"]),
.kiPriW legend:not([class*="admin-bro_"]),
.kiPriW table:not([class*="admin-bro_"]),
.kiPriW caption:not([class*="admin-bro_"]),
.kiPriW tbody:not([class*="admin-bro_"]),
.kiPriW tfoot:not([class*="admin-bro_"]),
.kiPriW thead:not([class*="admin-bro_"]),
.kiPriW tr:not([class*="admin-bro_"]),
.kiPriW th:not([class*="admin-bro_"]),
.kiPriW td:not([class*="admin-bro_"]),
.kiPriW article:not([class*="admin-bro_"]),
.kiPriW aside:not([class*="admin-bro_"]),
.kiPriW canvas:not([class*="admin-bro_"]),
.kiPriW details:not([class*="admin-bro_"]),
.kiPriW embed:not([class*="admin-bro_"]),
.kiPriW figure:not([class*="admin-bro_"]),
.kiPriW figcaption:not([class*="admin-bro_"]),
.kiPriW footer:not([class*="admin-bro_"]),
.kiPriW header:not([class*="admin-bro_"]),
.kiPriW hgroup:not([class*="admin-bro_"]),
.kiPriW main:not([class*="admin-bro_"]),
.kiPriW menu:not([class*="admin-bro_"]),
.kiPriW nav:not([class*="admin-bro_"]),
.kiPriW output:not([class*="admin-bro_"]),
.kiPriW ruby:not([class*="admin-bro_"]),
.kiPriW section:not([class*="admin-bro_"]),
.kiPriW summary:not([class*="admin-bro_"]),
.kiPriW time:not([class*="admin-bro_"]),
.kiPriW mark:not([class*="admin-bro_"]),
.kiPriW audio:not([class*="admin-bro_"]),
.kiPriW video:not([class*="admin-bro_"]) {
    margin: 0;
    padding: 0;
}


/*!sc*/

.kiPriW img {
    max-width: 100%;
}


/*!sc*/

.kiPriW p,
.kiPriW div {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 300;
}


/*!sc*/

.kiPriW strong,
.kiPriW b {
    font-weight: 900;
}


/*!sc*/

.kiPriW li+li {
    margin-top: 8px;
}


/*!sc*/

.kiPriW p:not(:last-child),
.kiPriW dl:not(:last-child),
.kiPriW ol:not(:last-child),
.kiPriW ul:not(:last-child),
.kiPriW blockquote:not(:last-child),
.kiPriW pre:not(:last-child),
.kiPriW table:not(:last-child) {
    margin-bottom: 24px;
}


/*!sc*/

.kiPriW pre {
    background-color: #F6F7FB;
    border: 1px solid #C0C0CA;
    padding: 24px;
    margin: 24px 0 32px;
    white-space: pre;
}


/*!sc*/

.kiPriW h1,
.kiPriW h2,
.kiPriW h3,
.kiPriW h4,
.kiPriW h5,
.kiPriW h6 {
    font-weight: 300;
    line-height: 32px;
    font-size: 28px;
    margin-top: 32px;
    margin-bottom: 24px;
}


/*!sc*/

.kiPriW h1:first-child,
.kiPriW h2:first-child,
.kiPriW h3:first-child,
.kiPriW h4:first-child,
.kiPriW h5:first-child,
.kiPriW h6:first-child {
    margin-top: 4px;
}


/*!sc*/

.kiPriW h1 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 64px;
    margin-bottom: 48px;
}


/*!sc*/

.kiPriW h2 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 48px;
    margin-bottom: 32px;
}


/*!sc*/

.kiPriW h4 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 24px;
}


/*!sc*/

.kiPriW h5 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 400;
}


/*!sc*/

.kiPriW h6 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 400;
}


/*!sc*/

.kiPriW blockquote {
    background-color: #F6F7FB;
    border-left: 4px solid #CBD5FD;
    padding: 24px;
    margin: 32px 0;
}


/*!sc*/

.kiPriW ol {
    list-style-position: outside;
    margin-top: 16px;
    margin-left: 24px;
}


/*!sc*/

.kiPriW ol:not([type]) {
    list-style-type: decimal;
}


/*!sc*/

.kiPriW ol:not([type]).is-lower-alpha {
    list-style-type: lower-alpha;
}


/*!sc*/

.kiPriW ol:not([type]).is-lower-roman {
    list-style-type: lower-roman;
}


/*!sc*/

.kiPriW ol:not([type]).is-upper-alpha {
    list-style-type: upper-alpha;
}


/*!sc*/

.kiPriW ol:not([type]).is-upper-roman {
    list-style-type: upper-roman;
}


/*!sc*/

.kiPriW ul {
    list-style: disc outside;
    margin-left: 24px;
    margin-top: 16px;
}


/*!sc*/

.kiPriW ul ul {
    list-style-type: circle;
    margin-top: 4px;
}


/*!sc*/

.kiPriW ul ul ul {
    list-style-type: square;
}


/*!sc*/

.kiPriW em {
    font-style: italic;
}


/*!sc*/

.kiPriW dd {
    margin-left: 24px;
}


/*!sc*/

.kiPriW figure {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}


/*!sc*/

.kiPriW figure:not(:first-child) {
    margin-top: 8px;
}


/*!sc*/

.kiPriW figure:not(:last-child) {
    margin-bottom: 8px;
}


/*!sc*/

.kiPriW figure img {
    display: inline-block;
}


/*!sc*/

.kiPriW figure figcaption {
    font-style: italic;
}


/*!sc*/

.kiPriW sup,
.kiPriW sub {
    font-size: 75%;
}


/*!sc*/

.kiPriW table {
    width: 100%;
    margin: 24px 0;
}


/*!sc*/

.kiPriW table td,
.kiPriW table th {
    padding: 16px;
    vertical-align: top;
}


/*!sc*/

.kiPriW table th {
    color: #898A9A;
    border-bottom: 1px solid #C0C0CA;
}


/*!sc*/

.kiPriW table td {
    border-bottom: 1px solid #F6F7FB;
}


/*!sc*/

.kiPriW table th:not([align]) {
    text-align: inherit;
}


/*!sc*/

.kiPriW table thead td,
.kiPriW table thead th {
    border-bottom: 1px solid #C0C0CA;
    color: #898A9A;
}


/*!sc*/

.kiPriW table tfoot td,
.kiPriW table tfoot th {
    border-bottom: 1px solid #C0C0CA;
    color: #898A9A;
}


/*!sc*/

.kiPriW table tbody tr:last-child td,
.kiPriW table tbody tr:last-child th {
    border-bottom-width: 0;
}


/*!sc*/

.kiPriW .tabs li+li {
    margin-top: 0;
}


/*!sc*/

data-styled.g12[id="sc-jrAGrp"] {
    content: "RiUqm,bcomTI,hBeDrK,kiPriW,"
}


/*!sc*/

.liZFqR {
    box-sizing: border-box;
    color: #454655;
    background: transparent;
    border: 1px solid #C0C0CA;
    font-size: 14px;
    line-height: 24px;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}


/*!sc*/

.liZFqR:hover {
    border-color: #898A9A;
}


/*!sc*/

.liZFqR:disabled {
    color: rgba(69, 70, 85, 0.5);
    border-color: rgba(192, 192, 202, 0.5);
}


/*!sc*/

data-styled.g14[id="sc-iqHYGH"] {
    content: "liZFqR,"
}


/*!sc*/

.cyUGAw {
    box-sizing: border-box;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: #F6F7FB;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
}


/*!sc*/

@media screen and (min-width:577px) {
    .cyUGAw {
        padding-left: 24px;
        padding-right: 24px;
    }
}


/*!sc*/

.elWfde {
    box-sizing: border-box;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    background-color: #fff;
    height: 440px;
    width: 100%;
    box-shadow: 0 15px 24px 0 rgba(137, 138, 154, 0.25);
}


/*!sc*/

@media screen and (min-width:577px) {
    .elWfde {
        width: 85%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


/*!sc*/

@media screen and (min-width:880px) {
    .elWfde {
        width: auto;
    }
}


/*!sc*/

.cmThpR {
    min-width: 0;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    padding: 48px;
    background-color: #353535;
    color: #fff;
    width: 380px;
    display: none;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}


/*!sc*/

@media screen and (min-width:577px) {
    .cmThpR {
        display: none;
    }
}


/*!sc*/

@media screen and (min-width:769px) {
    .cmThpR {
        display: block;
    }
}


/*!sc*/

.eeGznR {
    box-sizing: border-box;
    min-width: 0;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    margin-right: 8px;
    display: inline;
}


/*!sc*/

.iYUPFb {
    box-sizing: border-box;
    min-width: 0;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    display: inline;
}


/*!sc*/

.ftEWda {
    box-sizing: border-box;
    min-width: 0;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    display: inline;
    position: relative;
    top: -20px;
}


/*!sc*/

.kLeARM {
    box-sizing: border-box;
    min-width: 0;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    padding: 48px;
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


/*!sc*/

@media screen and (min-width:577px) {
    .kLeARM {
        width: 100%;
    }
}


/*!sc*/

@media screen and (min-width:769px) {
    .kLeARM {
        width: 480px;
    }
}


/*!sc*/

.gcsmyR {
    box-sizing: border-box;
    min-width: 0;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    margin-top: 16px;
    margin-bottom: 16px;
}


/*!sc*/

.evcGLS {
    box-sizing: border-box;
    min-width: 0;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}


/*!sc*/

.kWWltZ {
    box-sizing: border-box;
    min-width: 0;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    margin-top: 32px;
}


/*!sc*/

data-styled.g16[id="sc-dQppl"] {
    content: "cyUGAw,elWfde,cmThpR,eeGznR,iYUPFb,ftEWda,kLeARM,gcsmyR,evcGLS,kWWltZ,"
}


/*!sc*/

.kyQjgS {
    vertical-align: middle;
    padding: 0;
    font-weight: 200;
    font-size: 32px;
    line-height: 40px;
    margin-top: 48px;
    margin-bottom: 32px;
}


/*!sc*/

.kyQjgS * {
    vertical-align: middle;
}


/*!sc*/

.kyQjgS .sc-gsTCUz,
.kyQjgS a {
    vertical-align: bottom;
}


/*!sc*/

*>.sc-dIUggk:first-child {
    margin-top: 4px;
}


/*!sc*/

.kyQjgS .sc-bdfBwQ {
    vertical-align: middle;
}


/*!sc*/

.bFZcIQ {
    vertical-align: middle;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 32px;
    margin-top: 24px;
}


/*!sc*/

.bFZcIQ * {
    vertical-align: middle;
}


/*!sc*/

.bFZcIQ .sc-gsTCUz,
.bFZcIQ a {
    vertical-align: bottom;
}


/*!sc*/

*>.sc-dIUggk:first-child {
    margin-top: 4px;
}


/*!sc*/

.bFZcIQ .sc-bdfBwQ {
    vertical-align: middle;
}


/*!sc*/

data-styled.g24[id="sc-dIUggk"] {
    content: "kyQjgS,bFZcIQ,"
}


/*!sc*/

.guKkvw .sc-gsTCUz,
.guKkvw a {
    margin-bottom: 4px;
}


/*!sc*/

data-styled.g26[id="sc-dmlrTW"] {
    content: "guKkvw,"
}


/*!sc*/

.cEyHLM {
    vertical-align: middle;
    display: inline-block;
    line-height: 12px;
    font-size: 12px;
    color: #e6282b;
}


/*!sc*/

.cEyHLM>svg {
    fill: #e6282b;
}


/*!sc*/

data-styled.g34[id="sc-giIncl"] {
    content: "cEyHLM,"
}


/*!sc*/

.iRAiss {
    width: 100%;
    margin-bottom: 16px;
}


/*!sc*/

.iRAiss>.sc-iqHYGH {
    width: 100%;
}


/*!sc*/

.iRAiss .sc-iqHYGH:hover {
    border-color: #898A9A;
}


/*!sc*/

data-styled.g41[id="sc-gWHgXt"] {
    content: "iRAiss,"
}


/*!sc*/

.RUaBL {
    line-height: 16px;
    box-shadow: 0 2px 0 0 #70C9B0;
    background: #DBF0F1;
    color: #454655;
    background-color: #FFA5B5;
    box-shadow: 0 2px 0 0 #FF4567;
}


/*!sc*/

.RUaBL>.sc-gsTCUz {
    float: right;
    margin: 8px;
}


/*!sc*/

.RUaBL>.sc-gsTCUz svg {
    fill: #454655;
}


/*!sc*/

.RUaBL+section {
    border-color: #FFA5B5;
}


/*!sc*/

data-styled.g46[id="sc-iUuytg"] {
    content: "RUaBL,"
}


/*!sc*/

.hzCatN {
    font-size: 12px;
}


/*!sc*/

.hzCatN>a {
    color: #898A9A;
    font-size: 12px;
    -webkit-text-decoration: none;
    text-decoration: none;
    margin-left: 2px;
}


/*!sc*/

.hzCatN>a:hover {
    color: #e6282b;
}


/*!sc*/

.hzCatN>.admin-bro_Icon {
    padding: 0 2px;
}


/*!sc*/

data-styled.g76[id="sc-jONnTn"] {
    content: "hzCatN,"
}


/*!sc*/

html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/*!sc*/

data-styled.g79[id="sc-global-gJLYzA1"] {
    content: "sc-global-gJLYzA1,"
}


/*!sc*/

.fgjIcv {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}


/*!sc*/

data-styled.g80[id="login__Wrapper-sc-1um38e4-0"] {
    content: "fgjIcv,"
}


/*!sc*/

.hrtJwo {
    max-width: 200px;
    margin: 8px 0;
}


/*!sc*/

data-styled.g81[id="login__StyledLogo-sc-1um38e4-1"] {
    content: "hrtJwo,"
}


/*!sc*/